 /* canvas {
     background: #000;
     display: block;
     margin: 50px auto;
 } */
  /* style.css */

#imageOverlay {
    position: fixed; 
    top: 0;
    left: 0;
width: 100%;  
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 200px;
    pointer-events: none;
    
    opacity: 0; 
    transition: opacity 1s ease-in-out;
    z-index: 10;
}



#gameCanvas {
    position: relative; 

}



 canvas {
    background-image: repeating-conic-gradient(
        #d4b483 0% 25%,
        #e6d5b8 25% 50%  
    );
    background-size: 40px 40px;
    display: block;
    margin: 50px auto;

    width: 100%;
    height: auto;
    max-width: 440px;
}

 body {
     text-align: center;
     font-family: Arial, sans-serif;
     color: #333;
 }
.page-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;   
    height: 100vh;  
    z-index: -1;      
    opacity: 0;
    background-image: url('image/bg/沙威瑪傳奇.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    overflow: hidden;
    filter: blur(8px); 
    animation: none;
}

@keyframes pulseScale {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.05); 
  }
  100% {
    transform: scale(1); 
  }
}

/* style.css */

